# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Dependency directories
jspm_packages/

# Firebase service account key
serviceAccountKey.json

# Environment variables
.env

# Dist folder
dist/

# Production
build/

# Vite cache
.vite/

# Coverage directory used by tools like istanbul
coverage/

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo
*.bak

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# Yarn v1
.yarn/cache/
.yarn/unplugged/
.yarn/build-state.yml
.yarn/install-state.gz

# Yarn v2
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Firebase emulators
firebase-debug.log
.fi
